<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button ng-class="'button button-clear button-light '+(!user.avatar ? 'ion-person button-icon' : 'hasAvatar')" ng-click="setAvatar()">
        <div class="thumbnail" ng-if="user && user.avatar"><img ng-src="{{user.avatar}}" /></div>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a ng-class="'button button-icon button-clear ion-ios-bell '+(hasMessage ? 'notification button-light' : 'button-stable')" href="#/messages">
        <span ng-if="hasMessage"></span>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
</ion-view>