<ion-view id="messages">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
    <div ng-repeat="object in list" ng-click="goToDetail(object)" ng-class="'card '+(object.new ? 'new' : '')">
      <span></span>
      <div class="padding-top padding-horizontal">
        <small class="time padding-horizontal">{{ object.createdAt |timeAgo }}!</small>
      </div>
      <div class="item item-body">
        <h2 class="title">{{ object.title }}</h2>
        <p class="body">{{ object.body }}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
