/* DEFAULT */
.pane{background-color: #555;}
.bar{background: none !important;}
.bar .hasAvatar{min-height: 52px;}
.modal{
    width: auto;
    min-height: auto;
    border-radius: 15px;
    top: 15%;
    bottom: 15%;
    left: 10%;
    right: 10%;
}
.modal-backdrop-bg{
    background-color: rgba(0,0,0,.5);
}

/* HOME */
.thumbnail img{
    width: 50px;
    height: 50px;
    display: block;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
.notification span{
    position: absolute;
    top: -5%;
    right: 5%;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background: #ffc900;
    border: 2px solid #555;
}

/* MESSAGES */
.padding .card{
    margin: 3% 8%;
    border-radius: 15px;
}
.card{
    position: relative;
    overflow: visible;
    background: #CCC;
}
.card.new{
    background: #FFF;
}
.card .time{
    color: #888;
}
.card .body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
}
.card .item-body{
    border: none;
    background: transparent;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.card.new span{
    position: absolute;
    z-index: 9;
    top: -6%;
    right: -3%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #ffc900;
    border: 2px solid #555;
}
.card .title{ margin-top: 0; }

/* DETAIL */
.modal .button{
    padding: 0 45px;
    border-radius: 25px;
}